.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.display-flex{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 3rem;
    margin-top: 12px;
    margin-left: 10px;
}
nav li a {
    text-decoration: none;
    color: darkgrey;
    font-size: 1rep;
    font-weight: 400;
    /* width: 52px; */
    /* height: 22px; */  
}
nav ul {
    height: 46px;
    width: 465;
    border:darkgray 1px solid;
    border-radius: 39px;
   
}
nav{
   justify-content: space-between;
   align-items: center;
   /* height: 46px; */
   /* width: 1060px; */
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 57px;
   margin-bottom: 10px;
   
}
.header{
    width: 1440px;
    height: 715px;
    background-color: wheat;
    /* background-image: url("../images/Images\ 2.png"); */
    /* background-repeat: no-repeat; */
    margin-left: 80px;
    
}
.hulk{
    margin-left: 220px;
}
.one{
    color: darkgrey;
    font-size: 2rem;
    font-weight: bolder;
    font-style: italic;
}
.pic{
    display: block;
    height: 580px;
    width: 350px;
    /* margin: 0px 0px 0px 100px; */
    margin-left: 120px;
}
.lalu{
    height: 580px;
    width: 700px;
    /* border: 1px solid black; */
}
.hablu{
    display: flex;
    /* gap: 2px; */
    position: relative;
}
.a1{
   width: 100px;
    height: 50px;
    border-radius: 46px;
    background-color: darkcyan;
    padding: 5px;
}
.div{
    display: flex;
    gap: 150px;
}
.two{
    color: dimgray;
    font-size: 5rem;
    font-weight: bolder;
    height: 282px;
    width: 520px;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.three{
    height: 48px;
    width: 520px;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 50px;
    /* margin-top: 10px; */
    color: darkgray;
}
.four{
    margin-left: 50px;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    color:darkgrey;
    background-color: darkcyan;
    border: none;
    /* margin-top: 2px; */
   
}
.flex{
    display: flex;
    gap: 20px;
}
.five{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    color:darkgrey;
    border: none;
}
.bablu{
    width: 600px;
    height: 450px;
    /* border: 1px solid black; */
}
.something{
    position: absolute;
    height: 100px;
    width: 200px;
    border:none;
    border-radius: 12px;
    background-color: white;
    /* margin-right: 50px; */
    margin-left: 330px;
    margin-top: 120px;

}
.some{
    height: 40px;
    width: 115px;
    font-weight: 900;
    font-size: 40px;
    color: darkgray;
    border:none;
    margin: 10px 50px 10px 10px;
}
.thing{
    height: 20px;
    width: 170px;
    font-weight: 400;
    font-size: 1rem;
    color: darkgray;
    border: none;
    /* margin-bottom: 50px; */
    margin-top: 0px;
    margin-left: 10px;


}
.somewhat{
    height: 100px;
    width: 450px;
    border: 1px solid black;
    background-color: darkgrey;
    margin-top: 300px;
    display: flex;
}
.so{
    width: 68px;
    height: 24px;
    font-size: 24px;
    font-weight: 900;
    margin-top: 5px;
   margin-bottom: 0px;
   color: aliceblue;
   /* text-align: center; */
   margin-left: 35px;
   /* border: 1px solid black; */
}
.th{
    width: 108px;
    height: 24px;
    font-size: 1rem;
    font-weight: 400;
    /* text-align: center; */
   color:whitesmoke;
   /* margin-bottom: 300px; */
   margin-left: 35px;
   margin-top: 5px;
   /* text-align: center; */
   margin-bottom: 20px;
   /* border: 1px solid black; */
}
.st{
    position: absolute;
    /* right: 30px; */
   /* margin-right: 100px; */
   margin-left: 40px;
    bottom: 50px;
    height: 100px;
    width: 150px;
    /* margin: 15px 5px 10px 60px; */
    background-color: darkgrey;
    border-radius: 12px;
}

.head{
    text-align: center;
    font-size: 3rem ;
    font-weight: 900;
    color: darkgray;
    margin-bottom: 14px;
    
}
.pra{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: dimgray;
  
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    margin-left: 80px;
    margin-top: 58px;
}
.im{
    border-radius: 100px;
}
.temp{
   background-color: wheat;
   width: 1100px;
}
.bold{
       font-size: 18px ;
       font-weight: 700 ;
       color: darkgray ;
       margin-bottom: 6px;
}
.potato{
    font-size: 14px ;
    font-weight: 400 ;
    color: darkgray ;
}

.color{
    background-color: aliceblue;
    /* height: 2300px; */
   
}
.you{
    height: 312px;
    width: 366px;
    border-radius: 30px;
}
.section{
    display: flex;
    align-items: center;
    height: 400px;
    width: 1100px;
    background-color: antiquewhite;
    margin-top: 100px;
    justify-content: center;
    border-radius: 30px;
    gap: 150px;
}
.v{
    font-size:48px ;
    font-weight: 900;
    color: gray;
    margin-bottom: 14px;
}
.x{
    font-size: 14px;
    font-weight: 400;
    color: gray;
    margin-bottom: 34px;
}
.foul{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    color:darkgrey;
    background-color: darkcyan;
    border: none;

}

.b{
    display: grid;
    grid-template-columns: repeat(3, 330px);
    gap: 10px;
    justify-content: center; 
    
}

.c{
    height:270px ;
    width: 325px;
    border-radius: 18px;
   
   
}
.e{
    font-size: 3rem;
    font-weight:900 ;
    color:gray ;
    text-align: center;
    margin-top: 88px;
}
.f{
    font-size:1rem ;
    font-weight:400 ;
    color:gray;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 58px;
}
.g{
    background-color: aquamarine;
    width: 1100px;
    height: 600px;
    /* margin-top: 60px; */
    border-radius: 20px;
    align-content: center;
    /* justify-content: center; */
    margin-bottom: 88px;
}
.master{
    display: flex;
    justify-content: center;
    gap: 100px;
    
}
nav div li {
    list-style: none;
    /* text-decoration: none; */
}
nav div li a {
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
}
.abul, .babul, .cabul, .dabul, .eabul, .fabul{
    position: relative;
}
.low{
    position: absolute;
  top: 180px;
  left: 15px;
  width: 210px;
  height: 24px;
  color: white;
  font-size:20px ;
  font-weight:900 ;
}
.high{
    position: absolute;
  top: 200px;
  left: 15px;
  width: 47px;
  height: 17px;
  color: white;
  font-size:14px ;
  font-weight:400 ;
}
.alu{
    font-size:70px ;
    font-weight:1000 ;
    margin-bottom: 20px;
}
.blu{
    font-size: 14px ;
    font-weight: 400 ;
}
.clu{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
}
.foot{
    background-color: antiquewhite;
    height: 450px;
}
hr{
    width: 1060px;
    margin-top: 80px;
    margin-bottom: 40px;
}
.pandu{
    text-align: center;
    margin-bottom: 35px;
}
.boll{
    /* height: 40px; */
    /* width: 40px; */
    /* background-color: brown; */
}
.fa-circle-dot{
    font-size: 40px;
    /* border: 1px solid black; */
    margin-left: 35px;
    color:black;
    margin-top: 4px;
}

/* .a{ */
   
/* } */
@media screen and (max-width:576px) {
    .display-flex{
        margin-left: 15px;
    }
    .st{
        height:100px ;
        width:150px ;
        margin-left: 50px;
    }
    .div{
        flex-direction: column;
        gap: 20px;
    }
    .foot{
        height: 100%;
    }
    .master{
        flex-direction: column;
        gap: 10px;
    }
    hr{
        width: 80%;
        /* margin-bottom:40px ; */
        margin-top:40px;
    }
    .pandu{
        margin-top: 10px;
    }
    .pic{
        /* margin-top: 750px; */
        /* margin-left: 10px; */
        height: 50%;
        width: 50%;
    }
    .header{
        height:100%;
        width: 100%;
        margin-left: 0px;
    }
    .hulk{
        margin-left: 0px;
    }
    .nav{
        margin-left: 0px;
        margin-right: 0px;
        justify-content: space-evenly;
    }
    .two
    {
        /* margin-left: 20px; */
        height: 50%;
        width: 100%;
        margin-left: 15px;
        margin-top: 5px;
        /* margin-bottom: 10px; */
        font-size: 36px;
        margin-bottom: 10px;
    }
    .three{
        margin-left:15px ;
        font-size:10px ;
        margin-top: 5px;
    }
    .four{
        margin-left: 15px ;
        width: 40%;
    }
    .five{
       
        width: 40%;
    }
    .grid{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 130px;
    }
    .head{
        /* margin: auto; */
        margin-left: 20px;
        /* text-align: start; */
    }
    .pra{
        /* margin: auto; */
        margin-left: 20px;
        /* text-align: start; */
    }
    .temp{
       width: 100%;
      
    }
    .section{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
   .foul{
    margin-bottom: 5px;
   }
   .b{
    grid-template-columns:repeat(1, 1fr);
    /* justify-content: none; */
    margin-left:60px;
    margin-top: 30px;
    margin-bottom:30px;
   }
   .g{
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    /* margin-left: 20px; */
   }
   .bablu{
    width: 100%;
    height: 100%;
   }
   .flex{
    flex-direction: row;
    gap: 5px;
   }
   .lalu{
    height: 100%;
    width: 100%;
   }
   .something{
    height: 75px;
    width: 145px;
    margin-top: 40px;
    margin-left: 250px;


   }
   .some{
    font-size: 30px;
    /* height: 145px; */
    /* width: 100%; */
   }
   .thing{
    font-size: 10px;
   }
   .so{
    font-size: 15px;
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 10px;

   }
   .th{
    font-size: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
   }
   .one{
    font-size: 20px;
    /* margin-left: 15px; */
   }
   nav ul li a{
    display: none;
   }
   nav ul {
    border: none;
   }

}
